body{
    background: url("Media/creepy_night.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 90vw;
    /*background-color: black;*/
}

#title{
    margin:0 0 0 100px;
    text-align: center;
    color: white;
}


#pad{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 10px auto;
    left: 0;
    right: 0;
    height: 440px;
    width: 440px;
    border: solid rgba(0,0,0, 0.4) 10px;
    border-radius: 100%;
    /*box-shadow: black -5px -5px 5px;*/
}

#center{
    background: url("Media/haunted house.png");
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 210px;
    width: 210px;
    z-index: 10;
    position: absolute;
    border-radius: 100%;
    margin: 24% 0 0 24.5%;
    border: groove black 5px;
}

#screen{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgba(152, 252, 152, 0.5);
    margin: 260px 8px 0px 180px;
    border-radius: 5px;
    border: double black 2px;
    box-shadow: inset rgba(0, 0, 0, 0.4) 4px 2px;
    color: black;
    font-size: 2em;
    text-align: center;
    z-index: 20;
    vertical-align: middle;
}

.screenGlow{
    background-color: rgba(36, 252, 87, 0.6) !important;
}

.screenLose{
    background-color: rgba(255, 0, 0, 0.7) !important;
}

.control{
    margin-top: 118px;
    z-index: 20;
}

#power{
    position: absolute;
    background-color: rgba(255, 102, 0, 0.5);
    border-top-left-radius: 100%;
    height: 55px;
    width: 88px;
    margin-left: 130px;
    text-align: center;
    line-height: 55px;
}

#strict{
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    border-top-right-radius: 100%;
    height: 55px;
    width: 88px;
    margin-left: 218px;
    text-align: center;
    line-height: 55px;

}

.strictGlow{
    background-color: rgba(255, 0, 0, 0.8) !important;
}

.row{
    display: inline-flex;
    z-index: 1;
}

button:focus{
    outline: none;
}

#touch1{
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    border: solid black 10px;
    z-index: auto;
}

#touch1inner{
    background-color: rgba(0,0,0, 0);
    box-shadow: rgba(0,0,0,1) 5px 5px 20px 5px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 2;
    position: absolute;
}

#bat_icon{
    height: 80px;
    width: 80px;
    background: url("Media/Icons/bats.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30% 0 0 30%;
    display: none;
}

.touch1glow{
    box-shadow: #FF6600 0px 0px 200px !important;
    background-color: rgba(255, 102, 0, 0.7);
}

#touch2{

    /*   background-color: purple; */
    width: 200px;
    height: 200px;
    border-top-right-radius: 100%;
    border: solid black 10px;
    z-index: auto;
}

#touch2inner{
    background-color: rgba(0,0,0, 0);
    box-shadow: rgba(0,0,0,1) 5px 5px 20px 5px;
    width: 200px;
    height: 200px;
    border-top-right-radius: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 2;
    position: absolute;
}

#cauldron_icon{
    height: 80px;
    width: 80px;
    background: url("Media/Icons/cauldron.png");
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30% 0 0 32%;
    display: none;
}

.touch2glow{
    box-shadow: rgb(141, 43, 252)  0px 0px 200px;
    background-color: rgba(141, 43, 252, 0.7);
}

#touch3{
    background-color: rgba(0,0,0, 0.3) ;
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    border: solid black 10px;
    transform: rotate(270deg);
    z-index: auto;
}

#touch3inner{
    background-color: rgba(0,0,0, 0);
    box-shadow: rgba(0,0,0,1) 5px 5px 20px 5px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    transform: rotate(0deg);
    margin: 0px 0px 0px 0px;
    z-index: 2;
    position: absolute;
}


.touch3glow{
    background-color: rgba(255,255,255, 0.3) !important;
    box-shadow: rgba(255, 255, 255, 1)  0px 0px 200px;
}

#ghost_icon{
    height: 80px;
    width: 80px;
    background: url("Media/Icons/ghost.png");
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(70deg);
    margin: 30% 0 0 30%;
    display: none;
}


#touch4{
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    border: solid black 10px;
    transform: rotate(180deg);
    z-index: auto;
}

#touch4inner{
    background-color: rgba(0,0,0, 0);
    box-shadow: rgba(0,0,0,1) 5px 5px 20px 5px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 2;
    position: absolute;
}

#zombie_icon{
    height: 80px;
    width: 80px;
    background: url("Media/Icons/zombies.png");
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(220deg);
    margin: 30% 0 0 30%;
    display: none;
}



.touch4glow{
    box-shadow: limegreen  0px 0px 150px;
    background-color: rgba(50, 205, 50, 0.7);
}

/*button{*/
    /*!*border: none;*!*/
    /*color: #FF6600;*/
    /*border-radius: 100%;*/
    /*height: 50px;*/
    /*width: 50px;*/
/*}*/


